<p>
	Let's spit out some text!</p>

<p>	<span title="<%= @word.speech%> <%= @word.tense%> <%= @word.voice%> <%= @word.mood%> <%= @word.person%> <%= @word.verbNumber%> <%= @word.gender%> <%= @word.case%> <%= @word.nounNumber%> <%= @word.definition%>"><%= @word.greekWord%></span>


</p>